services:
  db:
    image: postgres:15
    container_name: "blitzData"
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5433"
    volumes:
      - postgres-data:/var/lib/postgresql/data
  app:
    build: .
    container_name: blitz-scraper
    restart: always
    depends_on:
      - db
    env_file:
      - .env

volumes:
  postgres-data: